html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrap {
    max-width: 100%;
    /* max-width: 1050px; */
}

/* banner */

.banner .navbar {
    background-color: black;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    padding-top: 16px;
    padding-bottom: 16px;
    position: fixed;
    width: 100%;
    z-index: 99999;
    transition-duration: 1s;
}
.nav-opacity {
    opacity: 0.5;
}
.navbar h1 a {
    background-image: url('./assets/logo_l(null).svg');
    background-size: contain;
    display: block;
    width: 120px;
    height: 24px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 200px;
}
.navbar li {
    list-style: none;
    padding-left: 50px;
}
.navbar li a {
    text-decoration: none;
    color: white;
    display: block;
}
.hamburger {
    display: none;
}
.line1 {
    background-color: #fff;
    width: 25px;
    height: 3px;
    /* display: none; */
}
.l1 {
    display: none;
}
.line2 {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin-top: 6px;
    /* transform: rotate(45deg); */
    transition-duration: 0.3s;
}
.l2 {
    transform: rotate(45deg);
}
.line3 {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin-top: 6px;
    /* transform: rotate(135deg) translateY(200%) translateX(-25%); */
    transition-duration: 0.3s;
}
.l3 {
    transform: rotate(135deg) translateY(200%) translateX(-25%);
}

.banner {
    background-color: #3d1101;
}

.banner .bannerImg{
    /* padding-top: 48px; */
    height: 420px;
    background-image: url('./assets/header_desktop.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
}
.bannerImg .title {
    display: flex;
    align-items: center;
}
.bannerImg .title > .inner {
    background: rgba(0,0,0,0.35);
    padding: 20px 22px 20px 20px;
}
.bannerImg .innercontent {
    padding-top: 16px;
    padding-bottom: 6px;
}
.bannerImg .innercontent .fa-utensils {
    margin-right: 5px;
    margin-left: 5px;
}
.inner > h2 {
    font-size: 36px;
}
@media (max-width:1024px) {
    .banner .navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: 40px;
    }
    .navbar ul {
        margin-right: 40px;
    }
    .navbar li {
        width: 50px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width:768px) {
    .wrap {
        overflow: hidden;
    }
}

@media (max-width:414px) {
    .banner .bannerImg {
        background: url('./assets/Bitmap.png');
        background-repeat: no-repeat;
    }
    .banner .navbar {
        display: flex;
        padding-left: 20px;
    }
    .hamburger {
        display: block;
        margin-right: 35px;
        cursor: pointer;
    }
    .navbar ul {
        max-height: 0;
        overflow: hidden;
        position: absolute;
        top: 58px;
        z-index: 999999900;
        left: 0;
        right: 0;
        margin: 0;
        margin-top: -2px;
        display: flex;
        flex-direction: column;
        background-color: black;
        transition: all 1s;
    }
    .navbar li {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 60px;
        cursor: pointer;
        width: 100%;
    }
    .navbar li:hover {
        background-color: #fff;
        color: black;
        transition: all 1s;
    }
    .navbar li:hover a{
        color: black;
    }
    .menushow .menu{
        max-height: 360px;
    }
}

/* container */

.container {
    /* padding-top: 420px; */
    display: flex;
    justify-content: center;
    background-color: #efe9e7;
    z-index: -1;
    color: #3d1101;
}
.container > .inner {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 50px;
}
.container .innertitle {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 31px;
    text-align: center;
    position: relative;
}
.container h3 {
    padding-bottom: 15px;
}
.container .innertitle::before {
    content: '';
    display: block;
    width: 122px;
    height: 2px;
    background-color: #ccc;
    position: absolute;
    top: 35%;
    left: 28%;
}
.container .innertitle::after {
    content: '';
    display: block;
    width: 122px;
    height: 2px;
    background-color: #ccc;
    position: absolute;
    top: 35%;
    right: 28%;
}

.threeintro {
    display: flex;
    flex-direction: row;
}
.box {
    width: 300px;
    margin-right: 20px;
    margin-left: 20px;
}
.box .boximage {
    display: flex;
    justify-content: center;
}
.box img {
    border-radius: 50%;
}
.box .boxintro {
    display: flex;
    flex-direction: column;
    width: 260px;
    text-align: center;
    padding-left: 20px;
    padding-top: 20px;
}
.boxintro p{
    text-align: justify;
    padding-top: 11px;
}

@media (max-width: 1024px) {
    .box .boxintro{
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 0px;
        margin-left: 0px;
    }    
}
@media (max-width:768px) {
    .box {
        width: auto;
    }
}
@media (max-width: 414px) {
    .wrap {
        overflow: hidden;
    }
    .container .innertitle {
        margin-bottom: 0;
    }
    .threeintro {
        display: flex;
        flex-direction: column;
        margin-right: 50px;
    }
    .box {
        width: 100%;
        margin-top: 50px;
    }
    .inner > h2 {
        font-size: 32px;
    }
}
@media (max-width:375px) {
    .inner > h2 {
        font-size: 28px;
    }
}


/* todaychef */

.todaychef {
    display: flex;
    justify-content: center;
    background-color: #3d1101;
    color: #fff;
}
.chefimage {
    padding-right: 25px;
}
.chefintro {
    padding-top: 81px;
}
.chefintro h3{
    font-size: 20px;
}
.chefintro p{
    width: 410px;
    text-align: left;
    padding-top: 16px;
}

@media (max-width:768px) {
    .chefintro p {
        width: auto;
        padding-right: 10px;
    }
}
@media (max-width:414px) {
    .todaychef {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 30px;
    }
    .chefintro {
        padding-top: 40px;
    }
    .chefintro h3, .chefintro h4{
        width: auto;
        padding-left: 20px;
    }
    .chefintro p{
        width: auto;
        padding-left: 20px;
        padding-right: 20px;

    }
}

/* peoplethink */

.peoplethink {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: #efe9e7;
    color: #3d1101;
}
.peoplethink > .inner {
    display: flex;
    flex-direction: column;
}
.personthink {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}
.thinktitle {
    text-align: center;
    font-size: 24px;
    margin-bottom: 32px;
}
.block {
    width: 320px;
    padding-left: 5px;
    padding-right: 5px;
}
.block .imgcontent {
    display: flex;
    flex-direction: row;
    /* margin-left: 30px; */
}
.imgcontent img {
    border-radius: 50%;
    margin-right: 13px;
    margin-left: 5px;
    margin-top: 20px;
} 
.imgcontent .ptitle {
    padding-top: 45px;
}
.block p {
    padding-left: 85px;
    width: 220px;
    line-height: 25px;
}
.pname {
    text-align: end;
    padding-right: 20px;
    padding-top: 16px;
}
@media (max-width: 768px) {
    .block {
        width: auto;
    }
    .block p {
        width: auto;
        padding-right: 15px;
    }
}
@media (max-width: 414px) {
    .personthink {
        display: flex;
        flex-direction: column;
    }
}


/* mapform */

.mapform {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FAFAFA;
    color: #3d1101;
}
.mapform > .inner {
    display: flex;
    justify-content: center;
}
.mapform .form {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 450px;
}
.map, .form {
    padding-top: 38px;
}
.mapform h3 {
    text-align: center;
    font-size: 24px;
}
.form label {
    padding-bottom: 11px;
    padding-top: 12px;
}
.form input {
    width: 441px;
    height: 26px;
    padding-left: 14px;
    font-size: 16px;
    border-radius: 5px;
    border: solid 1px #ccc;
}
.radiocheck {
    display: flex;
    height: 10px; 
}
.radiocheck label {
    padding-right: 36px;
    width: 45px;
    display: flex;
    padding-top: 0px;
}
.radiocheck label span {
    /* height: 10px; */
    padding-top: 8px;
}
.btn-group {
    display: flex;
    margin-top: 35px;
    justify-content: flex-end;
}
.btn-group input {
    width: 70px;
    margin-left: 11px;
    padding: 0;
    text-align: center;
    color: white;
    border: none;
}
.cancel {
    background-color: #a09e9e;
}
.send {
    background-color: #F56C23;
}
@media (max-width:768px) {
    .mapform .form {
        width: auto;
    }
    .form > input {
        width: auto;
    }
    .map {
        display: flex;
        justify-content: center;
    }
}
@media (max-width:414px) {
    .mapform > .inner {
        display: flex;
        flex-direction: column;
    }
    .mapform .form {
        width: auto;
        margin-right: 20px;
    }
}


/* footer */

.footer {
    display: flex;  
    justify-content: center;
    background-color: #efe9e7;  
    padding-top: 50px;
    padding-bottom: 50px;
    color:#3d1101;
}

.content {
    width: 300px;
    margin-right: 10.5px;
    margin-left: 10.5px;
}
.content2 {
    margin-right: 50px;
}
.content h2 {
    font-size: 24px;
    padding-bottom: 16px;
}
.content3 .cimage{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 22px;
}
.content3 .outerlink{
    display: flex;
    justify-content: flex-end;
    font-size: 36px;
}
.outerlink .fab {
    padding-left: 11px;
}
@media (max-width:768px) {
    .content1 {
        margin-left: 20px;
    }
    .content3 {
        margin-right: 20px;
    }
}
@media (max-width:414px) {
    .footer {
        display: flex;
        flex-direction: column;
    }
    .content {
        margin-left: 50px;
    }
    .content1, .content2{
        display: block;
        margin-left: 20px;
    }
    .content2, .content3 {
        margin-top: 30px;
    }

}

/* shop.html */

.main {
    padding-bottom: 30px;
    color: #3D1101;
    background-color: #EFE9E7;
}
.main > .inner {
    display: flex;   
    justify-content: center; 
}
.sidebar {
    margin-top: 52px;
    margin-left: 100px;
}
.sidebar span, .sidebar .fas {
    font-size: 20px;
    padding-bottom: 25px;
}
.sidebar li {
    border-bottom: solid 1px #3D1101;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    cursor: pointer;
}
.sidebar li a {
    color: #3D1101;
    text-decoration: none;
}
.sidebar li:hover  {
    background-color: #3D1101;
}
.sidebar li:hover .a{
    color: white;
}

@media (max-width: 1024px) {
    .sidebar li {
        margin-right: 0;
    }
}



.searchbar {
    margin-top: 35px;
    margin-right: 40px;
}
.searchbar input[type="text"]{
    padding: 4px 225px 4px 4px;
    margin-top: 8px;
    font-size: 17px;
    border-color: #3D1101;
    margin-left: 80px;
    background: transparent;
}
.searchbar button {
    padding-top: 4px;
    padding-bottom: 6px;
    width: 36px;
    font-size: 19px;
    border: none;
    background-color: #3D1101;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.searchbar .gocart {
    border-right: solid 1px;
    margin-left: 120px;
    padding-right: 16px;
}
.searchbar .fa-shopping-cart {
    padding-left: 16px;
    font-size: 27px;
    position: relative;
}
.searchbar .fa-shopping-cart::after {
    content: '1';
    display: block;
    position: absolute;
    right: -20%;
    top: -30%;
    font-size: 16px;
    width: 16px;
    border: solid 1px #fff;
    background-color: #FF5E45;
    color: #fff;
    text-align: center;
    border-radius: 50%;
}
.searchbar span {
    cursor: pointer;
}



/* products */

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 800px;
    margin-left: 80px;
}

@media (max-width: 768px) {
    .sidebar{
        margin-left: 50px;
    }
    .products {
        width: 480px;
        margin-left: 40px;
    }
    .searchbar input[type="text"]{
        padding: 4px 80px 4px 4px;
        margin-left: 40px;
    }
    .searchbar .gocart {
        margin-left: 10px;
        padding-right: 8px;
    }
    .searchbar .fa-shopping-cart {
        padding-left: 8px;
    }
}


.pbox {
    width: 220px;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
    margin-right: 20px;
    margin-top: 30px;
    text-align: center;
    position: relative;
}
.pbox:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.pbox h4{
    font-size: 20px;
}
.pbox h5 {
    font-size: 12px;
    padding-bottom: 8px;
    position: relative;
}
.pbox h5::before {
    content: '';
    position: absolute;
    border-bottom: solid 1px;
    height: 1px;
    left: 30%;
    bottom: 0;
    width: 40%;
}
.pbox .price {
    margin-top: 30px;
    margin-bottom: 23px;
    font-size: 20px;
}
.addcart {
    width: 91%;
    border: solid 2px #FF5E45;
    color: #FF5E45;
    background-color: #EFE9E7;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
}
.addcart .fa-shopping-cart {
    padding-right: 10px;
}
.pbox .fa-heart {
    display: flex;
    color: #fff;
    font-size: 23px;
    padding-left: 10px;
    padding-top: 10px;
    cursor: pointer;
}
.pbox1 .pimage {
    height: 120px;
    margin-bottom: 11px;
    background: url('./assets/product_1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.pbox2 .pimage {
    height: 120px;
    margin-bottom: 11px;
    background: url('./assets/product_2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.pbox3 .pimage {
    height: 120px;
    margin-bottom: 11px;
    background: url('./assets/product_3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.pbox4 .pimage {
    height: 120px;
    margin-bottom: 11px;
    background: url('./assets/product_4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.wrap-ribbon {
    position: absolute;
    /* background-color: #fff; */
    width: 90px;
    height: 90px;
    text-align: center;
    right: -2%;
    top: -2%;
    overflow: hidden;
}
.ribbon {
    position: relative;
    background-color: #00CC99;
    padding: 5px;
    width: 90px;
    top: 15%;
    right: -15%;
    transform: rotate(45deg);
    font-size: 14px;
    color: #fff;
    font-weight: 600;
}
.ribbon:before {
    content: "";
    border-top: 6px solid rgb(0, 172, 129);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    bottom: -5px;
    left: -2px;
    transform: rotate(135deg);
}
.ribbon:after {
    content: "";
    border-top: 6px solid rgb(0, 172, 129);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    bottom: -4px;
    right: -4px;
    transform: rotate(220deg);
}

@media (max-width:414px) {
    .main > .inner {
        display: flex;   
        flex-direction: column;
    }
    .searchbar {
        margin-top: 20px;
        margin-left: 20px;
    }
    .searchbar input[type="text"]{
        padding: 4px 70px 4px 4px;
    }
    .searchbar .gocart {
        margin-left: 220px;
        padding-right: 16px;
    }
    .searchbar .fa-shopping-cart {
        padding-left: 16px;
        margin-top: 20px;
    }
    .sidebar {
        margin-left: 60px;
    }
    .sidebar li {
        width: 300px;
    }
    .products {
        display: flex;
        flex-direction: column;
        width: 212px;
        margin: 0 auto;
    }
    .searchbar button {
        width: auto;
    }
}
@media (max-width:400px) {
    .searchbar input[type="text"]{
        padding: 4px 60px 4px 4px;
    }
}
@media (max-width:375px) {
    .searchbar {
        margin-left: 0px;
        margin-right: 0;
    }
    .searchbar input[type="text"]{
        padding: 4px 70px 4px 4px;
    }
    .searchbar .gocart {
        margin-left: 220px;
    }
    .sidebar {
        margin-left: 40px;
    }
    .sidebar li {
        width: 300px;
    }
}


/* center */

.center {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    background-color: #EFE9E7;
}
.center > .inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.inner > h3 {
    font-size: 20px;
    color: #3D1101;
    margin-top: 5px;
    margin-bottom: 35px;
    text-align: center;
    font-weight: 900;
}
.login{
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
    border-top: solid 3px #FF5E45;
    padding: 15px;
    color: #3D1101;
}
.login > h3 {
    margin-bottom: 16px;
    text-align: center;
    font-weight: 900;
}
.wrapper {
    position: relative;
}
.login label {
    padding-bottom: 5px;
}
.wrapper input {
    width: 230px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 35px;
    border: solid 1px #ccc;
    border-radius: 5px;
}
.wrapper .far {
    position: absolute;
    left: 4%;
    font-size: 15px;
    top: 50%;
    transform: translateY(-100%);
    color: #3D1101;
} 
.wrapper .fa-lock {
    position: absolute;
    left: 4%;
    font-size: 15px;
    top: 50%;
    transform: translateY(-100%);
    color: #3D1101;
}
.wrapper #email {
    margin-bottom: 15px;
}
.wrapper #password {
    margin-bottom: 15px;
}
.login h5, .form h5 {
    font-size: 14px;
    color: #FF5E45;
    margin-bottom: 30px;
}
.login h5 a {
    text-decoration: none;
    color: #FF5E45;
}
.btn-groups {
    display: flex;
    justify-content: center;
}
.btn-groups button{
    width: 125px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px 20px 8px 20px;
    border: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.register {
    background: rgba(0,0,0,0.35);
    border-radius: 3px;
}
.register a {
    text-decoration: none;
    color: #fff;
    display: block;
}
.log {
    background: #F56C23;
    border-radius: 3px;
}


/* register */

.reg {
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
    border-top: solid 3px #FF5E45;
    padding: 15px;
    color: #3D1101;
}
.reg h3 {
    text-align: center;
}
.flex {
    display: flex;
}
.reg .terms {
    width: 285px;
    padding-top: 50px;
    padding-left: 15px;
}
.terms p {
    padding-right: 10px;
}
.reg2 {
    width: 125px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px 20px 8px 20px;
    border: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    background: #F56C23;
    border-radius: 3px;
    float: right;
}
.form .wrapper{
    margin-top: 5px;
}
.form .wrapper input {
    width: 247px;
}

@media (max-width: 414px) {
    .flex {
        display: flex;
        flex-direction: column;
    }
    .reg .terms {
        padding-left: 0;
        padding-top: 25px;
    }
    .reg2 {
        margin-right: 0;
    }
}